# This is a per-user configuration file
[user]
    name = whonore
    email = wolfhonore@gmail.com
[push]
    default = simple
[core]
    editor = vim
    pager = delta
    excludesFile = ~/.config/git/ignore
[init]
    defaultBranch = main
[alias]
    s = status
    d = diff
    dc = diff --cached
    cm = commit -m
[credential]
    helper = store
[interactive]
    diffFilter = delta --color-only
[diff]
    colorMoved = default
[delta]
    syntax-theme = Blueper
    line-numbers = true
