[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/latex-unicoder.vim"]
	path = bundle/latex-unicoder.vim
	url = https://github.com/whonore/latex-unicoder.vim.git
[submodule "bundle/vim-nix"]
	path = bundle/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule "bundle/vader.vim"]
	path = bundle/vader.vim
	url = https://github.com/junegunn/vader.vim.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-trim-ws"]
	path = bundle/vim-trim-ws
	url = https://github.com/whonore/vim-trim-ws.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/whonore/vim-airline.git
[submodule "bundle/vim-debate"]
	path = bundle/vim-debate
	url = https://github.com/whonore/vim-debate.git
[submodule "bundle/vim-fish"]
	path = bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
