[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/latex-unicoder.vim"]
	path = bundle/latex-unicoder.vim
    url = https://github.com/whonore/latex-unicoder.vim.git
